:root {
	--background: 255, 255, 255;
	--foreground: 45, 45, 45;
	--card: 255, 255, 255;
	--card-foreground: 45, 45, 45;
	--popover: 255, 255, 255;
	--popover-foreground: 45, 45, 45;
	--primary: 68, 108, 255;
	--primary-foreground: 232, 232, 255;
	--secondary: 232, 232, 245;
	--secondary-foreground: 45, 45, 45;
	--muted: 232, 232, 245;
	--muted-foreground: 120, 120, 120;
	--accent: 232, 232, 245;
	--accent-foreground: 45, 45, 45;
	--destructive: 255, 0, 0;
	--destructive-foreground: 232, 232, 255;
	--border: 232, 232, 245;
	--input: 232, 232, 245;
	--ring: 68, 108, 255;
	--radius: 0.5rem;
	--chart-1: 255, 85, 85;
	--chart-2: 85, 170, 170;
	--chart-3: 85, 85, 170;
	--chart-4: 170, 170, 85;
	--chart-5: 255, 170, 85;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Geist", sans-serif;

	background-color: var(--background);
	color: var(--foreground);
}

@font-face {
	font-family: "Geist";
	src: url("/assets/fonts/GeistMonoVF.woff2") format("woff2");
}

main.landing {
	display: flex;
	overflow: hidden;

	.text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
		width: 60%;
		padding: 2rem;

		h1 {
			font-size: 4rem;
			margin-bottom: 1rem;
		}

		p {
			font-size: 1rem;
			margin-bottom: 1rem;
			max-width: 60ch;
		}

		button {
			padding: 0.5rem 1rem;
			border: none;
			border-radius: 0.25rem;
			background-color: var(--primary);
			color: var(--primary-foreground);
			cursor: pointer;
		}
	}

	.image-container {
		width: 40%;
		height: 100dvh;
		object-fit: cover;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
