@import url("./global.css");

.table-container {
	/* margin: 0 auto; */
	margin: 0 2rem;
	width: 80%;
	max-height: 400px;
	overflow-y: auto;
	display: block;
}

table {
	width: 100%;
}

table,
tr,
th,
td {
	/* border-radius: var(--radius); */
	border: none;
	/* border: 1px solid rgba(var(--border)); */
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid rgba(var(--border));
}

thead {
	/* border-radius: var(--radius); */
	background-color: rgba(var(--foreground));
	color: rgba(var(--background));
	position: sticky;
	top: 0;
}

thead tr:hover {
	background-color: rgba(var(--foreground));
}

thead th {
	padding: 0.5rem 1rem;
}

thead th:first-child {
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
}

thead th:last-child {
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

tbody td {
	font-size: 0.875rem;
	padding: 0.5rem 1rem;
}

tbody td:nth-child(3),
tbody td:nth-child(4) {
	font-family: "Geist Mono", monospace;
}

tbody td:nth-child(3),
tbody td:nth-child(5) {
	text-align: center;
}

td.actions {
	display: flex;
	justify-content: center;
	gap: 1rem;
	border: none;
	padding: 0.25rem 0;
}

td.actions a svg {
	width: 1.5rem;
	height: 1.5rem;
}

td.actions .add {
	color: rgba(var(--primary));
}

td.actions .delete {
	color: rgba(var(--destructive));
}

tr:hover {
	background-color: rgba(var(--muted));
}
